/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {}



/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {}



/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.social
		li
			display inline-block
	.social
		text-align center
	.skills-set
		p
			display block	
			
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.item
		width 220px
		height 220px
		
	.item-details
		height 220px
		p
			font-size 12px
			max-width 120px
	.slack
		p
			margin-top 0
			line-height 12px
			
	.overlay
		width 220px
		height 220px	
	.item-button
		display none
		
/* Custom, iPhone Retina */
@media only screen and (max-width : 365px)
	.photo
		float none
		display block
		margin auto
		margin-bottom 20px
	.footer-wrapper
		h3
			margin-top 0
			font-weight normal
		h3, p
			margin-left 0
			color $comment
			max-width 400px	
			
/* Custom, iPhone Retina */
@media only screen and (max-width : 285px)	
	.item
		width 180px
		height 180px
		
	.item-details
		height 180px
		
	.overlay
		width 180px
		height 180px
		
	.min-button
		display block
	.item
		display none
		
	.skills-set p
		display none

