/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.recipes-list
		li
			width 50%
			
	.carousel-caption
		top 50px	
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {}
/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
	.carousel-caption
		top 30px
	
	.carousel-caption
		h3, p
			font-size 24px
			line-height 36px
		p
			font-size 14px
			
	.jumbotron
		h2
			margin-top 40px
			
	.login-button, .sign-up-button, .menu-button
		float none
		display inline-block
		margin-top 20px	
		margin-right 0
	.wrapper
		display block
		min-height 50px	
	.menu-button
		font-size 30px
	.dropdown-menu
		left 50%	
		transform translateX(-50%)
		top -90px
		text-align center
		font-size 20px
		
	.btn-top
		bottom 80px
		right 20px
		height 40px
		width 40px
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.recipes-list
		li
			width 100%
			
	.jumbotron
		h2
			font-size 28px
		h1
			font-size 66px
		button
			padding 18px 60px
			
	.main-footer
		.copyright, .author
			float none
			display block
			text-align center
/* Custom, iPhone Retina */
@media only screen and (max-width : 365px)
	.carousel-caption
		top 20px
	
	.carousel-caption
		h3, p
			font-size 22px
			line-height 26px
		p
			font-size 14px
			
	.recipes-info
		span
			font-size 24px
		p
			margin-bottom 20px
			font-size 14px	
			
	.recipes-list
		h2
			font-size 28px		
/* Custom, iPhone Retina */
@media only screen and (max-width : 285px)
	.jumbotron
		h2
			font-size 22px
		h1
			font-size 52px
		button
			padding 12px 40px	
			
	.recipes-info
		span
			font-size 18px
		p
			font-size 14px			
