/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	section
		h2
			font-size 3em
			margin-top 2em
		p
			font-size 1em
	.dots-list
		top 90%
		left 50%
		transform translateX(-50%)
		padding 0
		display block
		width 100%
		text-align center
		li
			display inline-block
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.apply-btn
		margin 0 auto
		margin-top 30px
		padding 1em 2.4em
/* Custom, iPhone Retina */
@media only screen and (max-width : 365px)
	section
		h2
			font-size 2em
			margin-top 1em
		h1
			font-size 1.5em
	.dots-list
		li
			width 16px
			height 16px
			margin 10px		
/* Custom, iPhone Retina */
@media only screen and (max-width : 285px) {}
